body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding-top: 2rem;
  margin: 0 auto;
  width: 900px;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
}

.pagination li {
  border: 1px solid black;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.pagination li.active {
  background-color: #ccc
}

.table {
  width: 100%
}

td {
  text-align: center;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

th {
  cursor: pointer
}

.input-group {
  display: flex;
  flex-direction: row-reverse;
  margin: 15px 0;
  padding: 15px 0;
}

.form-control {
  width: 100%
}